<link rel="stylesheet" href="/css/settings.css">
<button onclick="state_transition('timer_init')">Close</button>
<div class="tabs">
    <div class="tab-header">
        <div class="active">
            <i class="account-tab"></i> Account
        </div>
        <div>
            <i class="appearence-tab"></i> Appearance
        </div>
        <div>
            <i class="timer-tab"></i> Timer
        </div>
        <div>
            <i class="todo-list-tab"></i> Todo
        </div>
        <div>
            <i class="about-tab"></i> About
        </div>
    </div>
    <div class="tab-indicator"></div>
    <div class="tab-content">

        <div class="tabcontent active">
            <div class="cover-contianer">
                <img class="avartar" src="/assets/settings/avatar.png" alt="Avatar" style="display:inline-block;
                width:100px;  
                height:100px;
                background:#555;
                color:#f5f5f5;
                border-radius:50%; align-self: center;">
                <div style="vertical-align: middle; padding-left: 40px; line-height: 50%;">
                    <p style="font-size:x-large; font-weight: bold; text-align: left;">
                        Team Tortellini
                    </p style="text-align: left;">
                    <p style="text-align: start;">
                        test@teamtortellini.con
                    </p>
                </div>
                <button type="button" style="align-self: flex-end;">Logout</button>
            </div>

            <div class="option-list">
                <div class="option-container">
                    <div class="option-name">
                        Cloud Sync
                    </div>
                    <div class="option-control">
                        <input class="tgl tgl-light" id="cb1" type="checkbox" /><label class="tgl-btn" for="cb1"></label>
                    </div>
                </div>
                <div class="option-container">
                    <div class="option-name">
                        Timezone
                    </div>
                    <div class="option-control">
                        <div class='ctrl'>
                            <div class='ctrl-button ctrl-button-decrement'>-</div>
                            <div class='ctrl-counter'>
                                <input class='ctrl-counter-input' maxlength='10' type='text' value='0'>
                                <div class='ctrl-counter-num'>0</div>
                            </div>
                            <div class='ctrl-button ctrl-button-increment'>+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabcontent">
            <div class="cover-contianer">
                <button type="button" style="align-self:center;">
                    <img src="/assets/settings/light.png" style="height: 100px;"></button>
                <button type="button" style="align-self:center;">
                    <img src="/assets/settings/dark.png" style="height: 100px;"></button>
            </div>
            <div class="option-list">
                <div class="option-container">
                    <div class="option-name">
                        High Contrast
                    </div>
                    <div class="option-control">
                        <input class="tgl tgl-light" id="cb2" type="checkbox" /><label class="tgl-btn" for="cb2"></label>
                    </div>
                </div>
                <div class="option-container">
                    <div class="option-name">
                        Larger Text
                    </div>
                    <div class="option-control">
                        <input class="tgl tgl-light" id="cb3" type="checkbox" /><label class="tgl-btn" for="cb3"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabcontent">
            <div class="option-list">
                <div class="option-container">
                    <div class="option-name">
                        Emergency Stop
                    </div>
                    <div class="option-control">
                        <input class="tgl tgl-light" id="emergencytoggle" type="checkbox" /><label class="tgl-btn" for="emergencytoggle"></label>
                    </div>
                </div>
                <div class="option-container">
                    <div class="option-name">
                        Duration of each session
                    </div>
                    <div class="option-control">
                        <c-time-picker></c-time-picker>
                    </div>
                </div>
                <div class="option-container">
                    <div class="option-name">
                        Duration of each sprint
                    </div>
                    <div class="option-control">
                        <c-time-picker></c-time-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabcontent">
            <div class="option-list">
                <div class="option-container">
                    <div class="option-name">
                        Number of Tasks per Sprint
                    </div>
                    <div class="option-control">
                        <div class='ctrl'>
                            <div class='ctrl-button ctrl-button-decrement'>-</div>
                            <div class='ctrl-counter'>
                                <input class='ctrl-counter-input' maxlength='10' type='text' value='0'>
                                <div class='ctrl-counter-num'>0</div>
                            </div>
                            <div class='ctrl-button ctrl-button-increment'>+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabcontent">
            <div class="cover-contianer">
                <img src="/assets/settings/logo.jfif" alt="team logo" style="height: 150px;">
            </div>
            <p style="font-size: x-large; font-weight: bold;">
                Team Tortellini
            </p>
            <p style="font-size: small;">
                © 2021 Team Tortellini All Rights Reserved.
            </p>
        </div>
    </div>
</div>