<link rel="stylesheet" href="/css/task-list.css" />
<div class="side-bar" id="side-bar">
  <h2 class="side-bar-header" id="task-list-header">Task list</h2>

  <h3>Running Task:</h3>
  <ul class="side-bar-division" id="running"></ul>

  <h3>Pending Tasks:</h3>
  <div id="pending-list">
    <!-- This space is for pending tasks -->
  </div>
  <div>
    <ul class="side-bar-division" id="pending-add">
      <!-- This space is for pending adds -->
      <button type="button" id="add-task-button">+</button>
    </ul>
  </div>

  <h3>Finished Tasks:</h3>
  <ul class="side-bar-division" id="finished"></ul>


  <button
    type="button"
    id="fold-button"
    onclick="transition(window.current_state,timer_init == window.current_state ? 'timer_toggle_task_list' : 'timer_init')"
  >
    Extend
  </button>
  <button type="button" id="test-btn-0">Simulate cycle start</button>
  <button type="button" id="test-btn-1">Simulate cycle finish</button>
  <button type="button" id="test-btn-2">Simulate finish early</button>
  <p id="curr_task_information">There is no task in running.</p>
</div>
