<link rel="stylesheet" href="/css/task-item.css" />
<div id="view" class="task-container">
  <!-- View Mode -->
  <p class="task" id="task-view">undefined</p>
  <p class="pomo-counter" id="pomo-counter-view">undefined</p>
  <div class="order-btn-container">
    <button class="pomo-delete-btn" id="pomo-delete-btn">x</button>
    <button class="pomo-edit-btn" id="pomo-edit-btn">e</button>
    <div class="position-btn-container">
      <button class="order-btn" id="order-btn-up">^</button>
      <button class="order-btn" id="order-btn-down">v</button>
    </div>
    
    <p class="pomo-counter" style="display: none"></p>
  </div>
</div>

<div id="edit" class="task-container">
  <!-- Edit Mode -->
  <input class="task" id="task-edit" type="text" />
  <input class="pomo-counter" id="pomo-counter-edit" type="number" />
  <button class="pomo-confirm-btn" id="pomo-confirm-btn">Confirm</button>
  <button class="pomo-cancel-btn" id="pomo-cancel-btn">Cancel</button>
</div>
