.background-img {
    background-image: url("media/web-background.png");
    backdrop-filter: blur(6px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    text-align: center;
}

.container {
    background: cyan;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 30px;
    margin: 20vh auto;
    width: 50vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer {
    display: flex;
    flex-direction: row;
    font-size: 10em;
}

#start, #finish {
    background: cyan;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 30px;
    margin: 5vh auto;
    width: 20vh;
    height: 8vh;
    display: inline-block;
    justify-content: center;
    font-size: 2em;
}

#current-task {
    background: cyan;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 30px;
    margin: 2vh auto;
    width: 50vh;
    height: 10vh;
    display: inline-block;
    font-size: 2em;
}

.sidebar {
    
}