.background-img {
    background-image: url("media/web-background.png");
    backdrop-filter: blur(6px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: blueviolet;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 30px;
    margin: 20vh auto;
    width: 50vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer {
    display: flex;
    flex-direction: row;
    font-size: 30em;

}
