* {
  outline: none;
}

/* button {
  border: 2px solid black;
  margin: 20px 0px 20px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 0px;
  font-size: 22px;
  height: 55px;
  font-weight: bold;
  width: 200px;
  background-color: rgba(230, 230, 230, 0.5);
} */

button {
  color: #f8f8ff;
  background: #1a748e;
  box-sizing: border-box;
  border: 2px solid black;
  opacity: .75;
  border-radius: 30px;
  margin: 5vh .5vh 5vh .5vh;
  width: fit-content;
  height: 5vh;
  padding: 0 1vh 0 1vh;
  font-size: 3vh;
  box-shadow: 0 6px #999;
}

button:hover {
  background: #94d6e9;
  opacity: .5;
  cursor: pointer;
}

button:active {
  box-shadow: 0 4px #333;
  transform: translateY(3px);
}


