* {
  outline: none;
}

@font-face {
  font-family: Exo2;
  src: url("../assets/fonts/Exo2-SemiBold.ttf");
}

button {
  font-family: "Exo2";
  color: #f8f8ff;
  background: #1a748e;
  box-sizing: border-box;
  border: 2px solid black;
  width: 18vh;
  height: 3vh;
  font-size: 2vh;
  border-radius: 30px;
  padding: 0 0 1vh 0;
  margin: 5vh 0.5vh 5vh 0.5vh;
  box-shadow: 0 6px rgb(85, 85, 85);
}

button:hover {
  background: #94d6e9;
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  box-shadow: 0 4px #333;
  transform: translateY(3px);
}
