/* place holder */
.background {
  /*Image used */
  background-image: url("../assets/images/ocean-cliffs-background-2.jfif") ;
  
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
}

div {
  text-align: center;
}

h1 {
  color: white;
  margin: 20px;
  text-align: center;
  font-size: 200%;
}

.timer {
  font-size: 150px;
  width: 80%x;
  color: white;
  background-color: gray;
  border-radius: 5px;
  border: 2px  solid gray;

}

.button {
  font-size: 80px;
  border: 2px gray; 
  border-radius: 5px;
  background-color: gray;
  color: white;

}



