#task-list-header {
  color: white;
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: black;
  width: 100%;
}

.side-bar {
  position: absolute;
  margin: 0px;
  padding: 0%;
  background-color: rgb(88, 88, 88);
  position: fixed;
  height: 95%;
  width: 40%;
  left: 100%;
  transition: left 0.5s;
}

.task {
  text-align: center;
  margin: 1mm;
  border: 1mm;
  height: 100%;
  background-color: rgb(153, 153, 153);
  font-size: medium;
  flex-grow: 6;
}

.pomo-counter {
  text-align: center;
  margin: 1mm;
  border: 1mm;
  height: 100%;
  background-color: rgb(153, 153, 153);
  font-size: medium;
  flex-grow: 2;
}

.pomo-cancel-btn{
  text-align: center;
  margin: 1mm;
  border: 1mm;
  height: 100%;
  background-color: rgb(153, 153, 153);
  font-size: medium;
  flex-grow: 1;
}

.pomo-edit-btn{
  text-align: center;
  margin: 1mm;
  border: 1mm;
  height: 100%;
  background-color: rgb(153, 153, 153);
  font-size: medium;
  flex-grow: 1;
}

.task-container {
  display: flex;
  border-style: solid;
  border-color:white;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  margin: 5px;
  transition: position 0.4s;
  transition: background-color 0.3s;
  transition: box-shadow 0.1s;
}

.task-container:hover{
  background-color: rgb(207, 207, 207);
  box-shadow: 4px 3px 5px #000000;;
}

.task-input-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.task-input{
  text-align:center;
  margin:1em;
  width: 80%;
}

.pomo-counter-input{
  text-align:center;
  margin:1em;
  width: 80%;
  
}

.task-input-btn-container{
  display: flex;
  flex-direction: row;
  width:100%;
}

.task-confirm-btn{
  width: 50%;
  height:fit-content;
  font-size: medium;
}

.task-cancel-btn{
  width:50%;
  height:fit-content;
  font-size: medium;
}


#pending{
  list-style: none;
}

#finished{
  list-style: none;
}



#fold-button {
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: 10%;
  position: absolute;
  right: 100%;
  top: 40%;
}

#add-task-button {
  width: 100%;
  height: 5%;
  position: relative;
  left: 0px;
  top: auto;
  margin: 2mm;
  padding: 0px;
}

.task-list-button {
  opacity: 40%;
  background-color: grey;
}

.task-list-button:hover {
  opacity: 100;
  background-color: white;
}

