.task-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.task-input {
  text-align: center;
  margin: 1em;
  width: 80%;
  flex-grow: 6;
}

.pomo-counter-input {
  text-align: center;
  margin: 1em;
  width: 80%;
  flex-grow: 3;
}

/*
.task-input-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow:3;
} */

.task-confirm-btn {
  width: 50%;
  height: fit-content;
  font-size: medium;
  flex-grow: 1;
}

.task-cancel-btn {
  width: 50%;
  height: fit-content;
  font-size: medium;
  flex-grow: 1;
}
